@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Add your custom styles below */
body {
  font-family: 'Roboto', sans-serif;
}
:root {

    /**
     * colors
     */
  
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
    
    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  
    /**
     * spacing
     */
  
    --section-padding: 60px;
  
  }
  
    
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  table,
  tbody,
  button,
  ion-icon { display: block; }
  
  button,
  input {
    font: inherit;
    background: none;
    border: none;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  address {
    font-style: normal;
    line-height: 1.8;
  }
  