<body id="top">
    <main>
        <article>
            <section class="section hero" style="background-image: url('./assets/images/Banner.png')">
                <div class="container">
                    <h2 class="h1 hero-title">
                        Discover the <strong>Elegance</strong> of Women’s Accessories
                    </h2>
                    <p class="hero-text">
                        Elevate your style with our exquisite collection of women’s accessories. From dazzling jewelry to chic handbags, find the perfect pieces to complement any look.
                    </p>
                    <button class="btn btn-primary">
                        <span>Shop Now</span>
                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </button>
                </div>
            </section>

            <!-- 
      - #COLLECTION
      -->
      <section class="section collection">
        <div class="container">
            <ul class="collection-list has-scrollbar">
                <li>
                    <div class="collection-card" style="background-image: url('./assets/images/jewelery.jpg')">
                        <h3 class="h4 card-title" style="color: white;">Jewelry Collections</h3>
                        <a href="#" class="btn btn-secondary">
                            <span>Explore All</span>
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="collection-card" style="background-image: url('./assets/images/handbag.jpg')">
                        <h3 class="h4 card-title" style="color: white;">Handbags Collections</h3>
                        <a href="#" class="btn btn-secondary">
                            <span>Explore All</span>
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="collection-card" style="background-image: url('./assets/images/scarves.jpg')">
                        <h3 class="h4 card-title" style="color: white;">Scarves Collections</h3>
                        <a href="#" class="btn btn-secondary">
                            <span>Explore All</span>
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
            <!-- 
      - #PRODUCT
    -->
    <section class="section product">
        <div class="container">
            <h2 class="h2 section-title">Bestselling Accessories</h2>
            <ul class="filter-list">
                <li>
                    <button class="filter-btn active">All</button>
                </li>
                <li>
                    <button class="filter-btn">Necklaces</button>
                </li>
                <li>
                    <button class="filter-btn">Earrings</button>
                </li>
                <li>
                    <button class="filter-btn">Bracelets</button>
                </li>
                <li>
                    <button class="filter-btn">Rings</button>
                </li>
                <li>
                    <button class="filter-btn">Watches</button>
                </li>
            </ul>
            <ul class="product-list">
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/elegantnecklace.jpg" width="312" height="350" loading="lazy"
                                 alt="Elegant Necklace" class="image-contain" style="background-color: #e7e9ec;">
                            <div class="card-badge">New</div>
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Elegant Necklace</a>
                            </h3>
                            <data class="card-price" value="150.85">$150.85</data>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-2.jpg" width="312" height="350" loading="lazy"
                                 alt="Gold Earrings" class="image-contain">
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Gold Earrings</a>
                            </h3>
                            <data class="card-price" value="80.85">$80.85</data>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-3.jpg" width="312" height="350" loading="lazy"
                                 alt="Stylish Bracelet" class="image-contain">
                            <div class="card-badge">New</div>
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Stylish Bracelet</a>
                            </h3>
                            <data class="card-price" value="90.85">$90.85</data>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-4.jpg" width="312" height="350" loading="lazy"
                                 alt="Elegant Ring" class="image-contain">
                            <div class="card-badge">-10%</div>
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Elegant Ring</a>
                            </h3>
                            <data class="card-price" value="120.85">$120.85 <del>$134.21</del></data>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-5.jpg" width="312" height="350" loading="lazy"
                                 alt="Elegant Ring" class="image-contain">
                            <div class="card-badge">-10%</div>
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Elegant Ring</a>
                            </h3>
                            <data class="card-price" value="120.85">$120.85 <del>$134.21</del></data>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-6.jpg" width="312" height="350" loading="lazy"
                                 alt="Elegant Ring" class="image-contain">
                            <div class="card-badge">-10%</div>
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Elegant Ring</a>
                            </h3>
                            <data class="card-price" value="120.85">$120.85 <del>$134.21</del></data>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-7.jpg" width="312" height="350" loading="lazy"
                                 alt="Elegant Ring" class="image-contain">
                            <div class="card-badge">-10%</div>
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Elegant Ring</a>
                            </h3>
                            <data class="card-price" value="120.85">$120.85 <del>$134.21</del></data>
                        </div>
                    </div>  
                </li>
                <li class="product-item">
                    <div class="product-card" tabindex="0">
                        <figure class="card-banner">
                            <img src="./assets/images/product-8.jpg" width="312" height="350" loading="lazy"
                                 alt="Charming Watch" class="image-contain">
                            <ul class="card-action-list">
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                </li>
                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>
                                    <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                </li>
                            </ul>
                        </figure>
                        <div class="card-content">
                            <div class="card-cat">
                                <a href="#" class="card-cat-link">Accessories</a>
                            </div>
                            <h3 class="h3 card-title">
                                <a href="#">Charming Watch</a>
                            </h3>
                            <data class="card-price" value="200.85">$200.85</data>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>    
            <!-- 
      - #CTA
    -->
    <section class="section cta">
        <div class="container">
            <ul class="cta-list">
                <li>
                    <div class="cta-card" style="background-image: url('./assets/images/cta-1.jpg')">
                        <p class="card-subtitle">Elegant Jewelry</p>
                        <h3 class="h2 card-title">Exclusive Women's Accessories</h3>
                        <a href="#" class="btn btn-link">
                            <span>Shop Now</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cta-card" style="background-image: url('./assets/images/cta-2.jpg')">
                        <p class="card-subtitle">Stylish Handbags</p>
                        <h3 class="h2 card-title">Upgrade Your Style Today</h3>
                        <a href="#" class="btn btn-link">
                            <span>Shop Now</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>    
            <!-- 
      - #SPECIAL
    -->
    <section class="section special">
        <div class="container">
            <div class="special-banner" style="background-image: url('./assets/images/special-banner.jpg')">
                <h2 class="h3 banner-title">New Trend Edition</h2>
                <a href="#" class="btn btn-link">
                    <span>Explore All</span>
                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>
            </div>
            <div class="special-product">
                <h2 class="h2 section-title">
                    <span class="text">Women's Accessories</span>
                    <span class="line"></span>
                </h2>
                <ul class="has-scrollbar">
                    <li class="product-item">
                        <div class="product-card" tabindex="0">
                            <figure class="card-banner">
                                <img src="./assets/images/product-1.jpg" width="312" height="350" loading="lazy"
                                    alt="Elegant Necklace" class="image-contain">
                                <div class="card-badge">New</div>
                                <ul class="card-action-list">
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-1">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-2">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-3">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-4">
                                            <ion-icon name="repeat-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                    </li>
                                </ul>
                            </figure>
                            <div class="card-content">
                                <div class="card-cat">
                                    <a href="#" class="card-cat-link">Women</a> / 
                                    <a href="#" class="card-cat-link">Accessories</a>
                                </div>
                                <h3 class="h3 card-title">
                                    <a href="#">Elegant Necklace</a>
                                </h3>
                                <data class="card-price" value="120.85">$120.85</data>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-card" tabindex="0">
                            <figure class="card-banner">
                                <img src="./assets/images/product-2.jpg" width="312" height="350" loading="lazy"
                                    alt="Chic Handbag" class="image-contain">
                                <div class="card-badge">New</div>
                                <ul class="card-action-list">
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-1">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-2">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-3">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-4">
                                            <ion-icon name="repeat-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                    </li>
                                </ul>
                            </figure>
                            <div class="card-content">
                                <div class="card-cat">
                                    <a href="#" class="card-cat-link">Women</a> / 
                                    <a href="#" class="card-cat-link">Accessories</a>
                                </div>
                                <h3 class="h3 card-title">
                                    <a href="#">Chic Handbag</a>
                                </h3>
                                <data class="card-price" value="150.85">$150.85</data>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-card" tabindex="0">
                            <figure class="card-banner">
                                <img src="./assets/images/product-3.jpg" width="312" height="350" loading="lazy"
                                    alt="Stylish Sunglasses" class="image-contain">
                                <div class="card-badge">New</div>
                                <ul class="card-action-list">
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-1">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-2">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-3">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-4">
                                            <ion-icon name="repeat-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                    </li>
                                </ul>
                            </figure>
                            <div class="card-content">
                                <div class="card-cat">
                                    <a href="#" class="card-cat-link">Women</a> / 
                                    <a href="#" class="card-cat-link">Accessories</a>
                                </div>
                                <h3 class="h3 card-title">
                                    <a href="#">Stylish Sunglasses</a>
                                </h3>
                                <data class="card-price" value="110.85">$110.85</data>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-card" tabindex="0">
                            <figure class="card-banner">
                                <img src="./assets/images/product-4.jpg" width="312" height="350" loading="lazy"
                                    alt="Elegant Bracelet" class="image-contain">
                                <div class="card-badge">New</div>
                                <ul class="card-action-list">
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-1">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-2">
                                            <ion-icon name="heart-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-2">Add to Wishlist</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-3">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-3">Quick View</div>
                                    </li>
                                    <li class="card-action-item">
                                        <button class="card-action-btn" aria-labelledby="card-label-4">
                                            <ion-icon name="repeat-outline"></ion-icon>
                                        </button>
                                        <div class="card-action-tooltip" id="card-label-4">Compare</div>
                                    </li>
                                </ul>
                            </figure>
                            <div class="card-content">
                                <div class="card-cat">
                                    <a href="#" class="card-cat-link">Women</a> / 
                                    <a href="#" class="card-cat-link">Accessories</a>
                                </div>
                                <h3 class="h3 card-title">
                                    <a href="#">Elegant Bracelet</a>
                                </h3>
                                <data class="card-price" value="95.85">$95.85</data>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section service">
        <div class="container">
            <ul class="service-list">
                <li class="service-item">
                    <div class="service-card">
                        <div class="card-icon">
                            <img src="./assets/images/service-1.png" width="53" height="28" loading="lazy"
                                alt="Service icon">
                        </div>
                        <div>
                            <h3 class="h4 card-title">Free Shipping</h3>
                            <p class="card-text">
                                On all orders over <span>$150</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-card">
                        <div class="card-icon">
                            <img src="./assets/images/service-2.png" width="43" height="35" loading="lazy"
                                alt="Service icon">
                        </div>
                        <div>
                            <h3 class="h4 card-title">Secure Payments</h3>
                            <p class="card-text">
                                100% secure payment options
                            </p>
                        </div>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-card">
                        <div class="card-icon">
                            <img src="./assets/images/service-3.png" width="40" height="40" loading="lazy"
                                alt="Service icon">
                        </div>
                        <div>
                            <h3 class="h4 card-title">Easy Returns</h3>
                            <p class="card-text">
                                Money back guarantee within 30 days
                            </p>
                        </div>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-card">
                        <div class="card-icon">
                            <img src="./assets/images/service-4.png" width="40" height="40" loading="lazy"
                                alt="Service icon">
                        </div>
                        <div>
                            <h3 class="h4 card-title">24/7 Support</h3>
                            <p class="card-text">
                                Get assistance anytime, anywhere
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>    
        </article>
    </main>